body {
    color: radial-graiden burlywood;
}
div{
    text-align: center;
    image-orientation: from-image;
    
}
h1{
    text-align: center;


}

    
  
  img {
    text-align: center;
    position: absolute;

  }